* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  font-family: inherit;
  text-align: center;
}

button:disabled {
  cursor: not-allowed;
}

.btn-cnt, .timer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%)
}

.btn-cnt {
  gap: 10px;
}
.timer {
  gap: 20px;
}

.btn {
  padding: 5px 30px;
  border-radius: 50px;
  border: 2px solid olive;
  font-size: 1.3em;
    background-color: beige;
}

.btn:disabled {
      background-color: lightgray;
}

/* Timer */

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: beige; */
}

.label {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
  color: gray;
    /* background-color: lightgray; */

}

.value {
  text-transform: uppercase;
  font-size: 4em;
    /* background-color: lightcyan; */
    line-height: 1.2;

}